<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>chatForm</title>
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  <style>
    * {
      box-sizing: border-box;
    }
    .msgLine {
      margin: 15px;
    }
    .msgBox {
      border: 1.5px solid black;
      background: white;
      padding: 2px 5px;
      border-radius: 10px;
    }
    .msgName{
      font-weight: bold;
      color: black;
    }
    #chatContent {
      border: 1px solid #000;
      width: 600px;
      height: 400px;
      margin-bottom: 10px;
      overflow-y: auto;
    }
    #myChat {
      width: 400px;
      height: 32px;
      border-radius: 8px;
    }
    #send {
      width: 16%;
      height: 34px;
      border-radius: 50px;
      background: black;
      color: white;
    }
  </style>
</head>

<body>
<h1>프로젝트 채팅방</h1>

<!-- chat contents will be written down below. -->
<div id="chatContent"></div>
<input id="myChat" type="text">
<button id="send">전송</button>
<script src="/socket.io/socket.io.js"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script>
  $(document).ready(function () {
    var socket = io.connect('http://localhost:3000');

    // 서버로부터 사용자 ID 받기
    socket.on('username', function (username) {
      window.username = username;
      // 받은 UserId를 화면에 표시

    });

    // 메세지 받는
    socket.on('msg', function (data) {
      var msgLine = $('<div class="msgLine">');
      var msgName = $('<div class="msgName">');
      var msgBox = $('<div class="msgBox">');

      // 수신 메시지인 경우 왼쪽에 표시
      if (data.receiver === window.username) {
        msgBox.append(data.sender + ": " + data.message);
      } else { // 송신 메시지인 경우 오른쪽에 표시
        //msgName.append(window.username );
        msgBox.append(data.message);
      }
      msgName.append(window.username);
      msgBox.css('display', 'inline-block');
      msgLine.append(msgName);
      msgLine.append(msgBox);
      $('#chatContent').append(msgLine);
      // 자동 스크롤 기능
      var chatContent = document.getElementById("chatContent");
      chatContent.scrollTop = chatContent.scrollHeight;
    });

    // 메세지 전송 버튼 눌렀을때
    $("#send").on("click", function () {
      sendMessage();
    });

    // 엔터 눌렀을때 전송
    $('#myChat').keypress(function (event) {
      var keycode = (event.keyCode ? event.keyCode : event.which);
      if (keycode == '13') {
        sendMessage();
      }
    });

    function sendMessage() {
      var message = $("#myChat").val().trim();
      if (message !== "") {
        var msgLine = $('<div class="msgLine">');
        var msgName = $('<div class="msgName">');
        var msgBox = $('<div class="msgBox">');

        msgName.append(window.username);
        msgBox.append(message); // 송신 메시지 표시
        msgBox.css('display', 'inline-block');
        msgLine.css('text-align', 'right');
        msgLine.append(msgBox);
        $('#chatContent').append(msgLine);
        // 메시지와 사용자 ID를 전송
        socket.emit('msg', { sender: window.username,  message: message }); // 송신자, 수신자, 메시지를 함께 전송합니다.
        $("#myChat").val("");
        var chatContent = document.getElementById("chatContent");
        chatContent.scrollTop = chatContent.scrollHeight;
      }
    }
  });
</script>
</body>
</html>







